@model List<Projeto.Presentation.Models.FornecedorConsultaViewModel>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consulta de fornecedor</h4>
<hr />

<div>
    <strong>@TempData["Mensagem"]</strong>
    <br />
    <br />
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="bg-info text-white">Código</th>
            <th class="bg-info text-white">Nome</th>
            <th class="bg-info text-white">Email</th>
            <th class="bg-info text-white">Telefone</th>
            <th class="bg-info text-white">CNPJ</th>
            <th class="bg-info text-white">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdFornecedor</td>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>@item.Cnpj</td>
                <td>
                    <a href="/Fornecedor/Edicao/@item.IdFornecedor"
                       class="btn btn-primary btn-sm">
                        Atualizar
                    </a>
                    <a href="/Fornecedor/Exclusao/@item.IdFornecedor"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Deseja excluir este fornecedor?');">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">Quantidade de fornecedor: @Model.Count</td>
        </tr>
    </tfoot>
</table>
