@model List<Projeto.Presentation.Models.ProdutoConsultaViewModel>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consulta de produto</h4>
<hr />

<div>
    <strong>@TempData["Mensagem"]</strong>
    <br />
    <br />
</div>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="bg-info text-white">Código</th>
            <th class="bg-info text-white">Nome</th>
            <th class="bg-info text-white">Descrição</th>
            <th class="bg-info text-white">Data de validade</th>
            <th class="bg-info text-white">Data de fabricação</th>
            <th class="bg-info text-white">Preço</th>
            <th class="bg-info text-white">Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IdProduto</td>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>@item.DataValidade</td>
            <td>@item.DataFabricacao</td>
            <td>@item.Preco</td>
            <td>
                <a href="/Produto/Edicao/@item.IdProduto"
                   class="btn btn-primary btn-sm">
                    Atualizar
                </a>
                <a href="/Produto/Exclusao/@item.IdProduto"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Deseja excluir este produto?');">
                    Excluir
                </a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">Quantidade de produto: @Model.Count</td>
        </tr>
    </tfoot>
</table>
