@model Projeto.Presentation.Models.ProdutoEdicaoViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Atualização de dados de produtos</h4>
<hr />
<div class="row">
    <div class="col-4">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.IdProduto)

            <label>Nome do produto:</label>
            @Html.TextBoxFor(model => model.Nome,
           new
                {
                    @class = "form-control",
                 @placeholder = "Digite aqui"
                })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
            <br />

            <label>Descrição do produto:</label>
            @Html.TextAreaFor(model => model.Descricao,
          new
               {
                   @class = "form-control",
                @placeholder = "Digite aqui"
               })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Descricao)
            </span>
            <br />

            <label>Data de validade:</label>
            @Html.TextBoxFor(model => model.DataValidade,
           Model.DataValidade.ToString("yyyy-MM-dd"),
           new
                {
                    @class = "form-control",
                 @type = "date"
                })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Descricao)
            </span>
            <br />

            <label>Data de fabricação:</label>
            @Html.TextBoxFor(model => model.DataFabricacao,
           Model.DataFabricacao.ToString("yyyy-MM-dd"),
           new
                {
                    @class = "form-control",
                 @type = "date"
                })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Descricao)
            </span>
            <br />

            <label>Preço do produto</label>
            @Html.TextBoxFor(model => model.Preco,
           new
                {
                    @class = "form-control",
                 @placeholder = "Digite aqui"
           })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Preco)
            </span>
            <br />

            <label>Selecione a categoria:</label>
            @Html.DropDownListFor(model => model.IdCategoria,
                                           Model.ListagemDeCategorias,
                                           "Escolha uma opção",
                                           new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.IdCategoria)
            </span>
            <br />

            <label>Selecione o fornecedor:</label>
            @Html.DropDownListFor(model => model.IdFornecedor,
                                           Model.ListagemDeFornecedores,
                                           "Escolha uma opção",
                                           new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.IdFornecedor)
            </span>
            <br />

            <input type="submit" value="Editar Produto" class="btn btn-primary" />
            <br />
            <br />

            <strong>@TempData["Mensagem"]</strong>
        }
    </div>
</div>